.ipynb_checkpoints
GloVe
models/fastText/*
encoder/*
.DS_Store
models/encoder/*
lucidDream.code-workspace
notebooks/samples/*
notebooks/checkpoint
notebooks/samples
discord_bot/samples/*
notebooks/models
.env
models
checkpoint
__pycache__
notebooks/output/*
history/*
history
corpora/*characters/*
corpora/all_csc.txt
corpora/all_tcsc.txt
corpora/dev-v2.0.json
corpora/emotions
corpora/harry_potter
corpora/isear.csv
corpora/profiles
corpora/rap_aggregate.txt
corpora/rap_med.txt
corpora/rap_small.txt
corpora/Rap_songs.csv
corpora/sherlockholmes-sntsep.txt
corpora/sherlockholmes.txt
corpora/squad-dev-v2.0.csv
corpora/squad-train-v2.0.csv
corpora/train-v2.0.json
corpora/trump_csc.txt
corpora/trump_tweets.csv
corpora/trump.txt
