.ipynb_checkpoints
GloVe
models/fastText/*
encoder/*
.DS_Store
models/encoder/*
lucidDream.code-workspace
notebooks/samples/*
notebooks/checkpoint
notebooks/samples
discord_bot/samples/*
notebooks/models
.env
models
checkpoint
__pycache__
notebooks/output/*
history/*
history
corpora/*